{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-loadable/babel",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
