{
  "env": {
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "jest"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "no-console": 0,
    "comma-dangle": [2, "never"],
    "no-loop-func": 1,
    "no-sparse-arrays": 1,
    "max-len": [1, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": true
    }],
    "no-unused-vars": [1, {
      "vars": "local",
      "args": "after-used"
    }]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}